@charset "utf-8";
.a {
    background-color: #FCFCFC;
    font-family: "jf open 粉圓 1.0";
}
.new {
    
   }

.b {
    border-radius: 15px;
    border: 0;
    background-color: hsla(0,0%,0%,0.04);
    color: #443A35;
    text-shadow: 0px 0px #000000;
    margin-top: 10px;
}
.title,.title2,.title3 ,.title4{
    color: #443A35;
    margin-top: 33px;
    margin-bottom: 15px;
}


.text {
    margin-top: -20px;
}
.button {
    font-family: "jf open 粉圓 1.0";
    width: 60px;
    color: #FFFFFF;
    border: 1.5px;
    padding-top: 4px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 4px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #F88888;
    text-align: center;
}

.button2 {
    font-family: "jf open 粉圓 1.0";
    width: 60px;
    color: #ffffff;
    border: 1.5px ;
    text-align: center;
    padding: 4px 0px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #88c6f8;
}
.button3 {
    font-family: "jf open 粉圓 1.0";
    width: 60px;
    color: #ffffff;
    border: 1.5px ;
    text-align: center;
    padding: 4px 0px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #27DB86;
}

.button4 {
    font-family: "jf open 粉圓 1.0";
    width: 60px;
    color: #ffffff;
    border: 1.5px ;
    text-align: center;
    padding: 4px 0px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #FFCF62;
}

.price {
    visibility: hidden;
}
.l::before {
    content: '';
    background-color: #ff5a58;
    position: absolute;
    width: 5px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    height: 25px;
    border-radius: 100px;
}
.l2::before {
    content: '';
    background-color: #4aafff;
    position: absolute;
    width: 5px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    height: 25px;
    border-radius: 100px;
}

.l3::before {
    content: '';
    background-color: #21CF80;
    position: absolute;
    width: 5px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    height: 25px;
    border-radius: 100px;
}

.l4::before {
    content: '';
    background-color: #FFC339;
    position: absolute;
    width: 5px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    height: 25px;
    border-radius: 100px;
}


.title::after {
    content: '';
    background-color: #ff5a58;
    position: absolute;
    width: 70px;
    text-align: center;
    right: 0;
    top: 0px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    height: 7px;
    left: 0;
    border-radius: 100px;
}

.title2::after {
    content: '';
    background-color: #4aafff;
    position: absolute;
    width: 70px;
    text-align: center;
    right: 0;
    top: 0px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    height: 7px;
    left: 0;
    border-radius: 100px;
}

.title3::after {
    content: '';
    background-color: #27DB86;
    position: absolute;
    width: 70px;
    text-align: center;
    right: 0;
    top: 0px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    height: 7px;
    left: 0;
    border-radius: 100px;
}
.title4::after {
    content: '';
    background-color: #FFC339;
    position: absolute;
    width: 70px;
    text-align: center;
    right: 0;
    top: 0px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    height: 7px;
    left: 0;
    border-radius: 100px;
}

.price {
}

input[type="checkbox"]{
    -webkit-appearance: none;
    vertical-align:middle;
    margin-top:0;
    background:#fff;
    border:#999 solid 1px;
    border-radius: 3px;
    min-height: 12px;
    min-width: 12px;
	 width: 14px;
    height: 14px;
}
input[type="checkbox"]:checked {
    background: #ffffff;
}
input[type=checkbox]:checked::after{
    content: '';
    position: absolute;
    background: transparent;
    border: #555555 solid 2px;
    border-top: none;
    border-right: none;
		height: 4px;
    width: 7px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);
}
